.container-pagination {   
    width: 100%;
   
  } 
 .pagination {
  display: flex;
  flex-direction: row;
  justify-content: center
  } 

  
 
  .lista:hover  {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
  }
  .active  {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
    border-radius: 0.2rem;
    display: inline-block;
    text-align: center;
    padding: 0.2rem 0.5rem;
    width: 60px;
    margin: 10px;
  }
  .lista-pg  {
    border: solid 1px #000000;
    border-radius: 0.2rem;
    color: #000000;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.2rem 0.5rem;
    width: 36px;   
    margin: 10px;   
    cursor: pointer;  
    
  }
  .lista-pg-extremos  {
    border: solid 1px #000000;
    border-radius: 0.2rem;
    color: #000000;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.2rem 0.5rem;
    width: 60px;  
    margin: 10px; 
    cursor: pointer;  
    
  }
 