.cards-id{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    padding: 5vh 0 5vh 0;
    margin: 15vh;
    
}
.img-id{
    width: 49%;
    

}
  .bandera {
    width: 90%;    
    align-items: center;
    
  }
  