.contenedor-activity{
    background-color: #ffffff71;
    max-width: 300px;
    border: 1px solid #bacdd8;
    padding: 8px;
    margin: 10px;
  
    
}
.titulo-actividad{
    color: #474544;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}
.name-actv{
    font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
}
.p-actv{
    font-size: 14px;
  color: #2d353f;
  line-height: 150%;
}
.card_detail-actv {
    
    padding: 5px 8px 8px 8px;
}
.form-paises{
  display: flex;
  flex-direction: column;
  
}
.formycard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.formycard-edit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: swing ;
  animation-duration: 2s;
}
.cerrar{
  font-size: 30px;
  cursor: pointer;
}
.form-cerrar{
  background-color: #ffffff71;
  max-width: 300px;
  border: 1px solid #bacdd8;
  padding: 8px;
  margin: 10px;
  
}
.edit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.p-editar{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.input-form-edit {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin-top:5px ;
	padding: 0 0 0.875em 0;
 width: 100%;	
}
.input-form:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}
.update-cancel{
  display: flex;
  justify-content: space-around;
  margin: 15px;

}
.update{
  text-decoration: none;
    font-weight: 600;
    color: #023f00;   
    cursor: pointer;
}
.cancel-edit{
  text-decoration: none;
  font-weight: 600;
  color: #3f0000;
  cursor: pointer;
}
